modules = ["python-3.12"]
run = "streamlit run main.py"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
run = ["sh", "-c", "streamlit run main.py"]

[[ports]]
localPort = 8501
externalPort = 80

[workflows]
runButton = "Run Streamlit App"

[[workflows.workflow]]
name = "Run Streamlit App"
author = 36239730
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py"
